:root {
    // --body-background: #FFF0DC;
    --body-background: #FAF7F0;
    --body-background-secondary: #F0BB78;
    --other-body-background: #131010;
    --body-font: #4A4947;
    --body-border: #131010;
}

$mainBg: var(--body-background);
$secondBg: var(--body-background-secondary);
$otherBg: var(--other-body-background);
$fontColor: var(--body-font);
$borderColor: var(--body-border);
$navbarHeight: 50px;
$logoWidth: 50px;
$logoHeight: calc($navbarHeight - 5px);
$navLinkDivWidth: 200px;
$introButtonWidth: 100px;
$introButtonHeight: calc($introButtonWidth * 0.4);
$loginButtonContainerWidth: calc($introButtonWidth * 2.1);
$transition: all 0.2s ease-in-out;

$loginInputPrimaryColor: var(--body-font);
$loginInputSecondaryColor: var(--body-font);
$loginInputAccent: #4A4947;

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $mainBg;
    color: $fontColor;
}


.nunito-font {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@mixin introButtons($width, $height, $color, $borderColor, $backgroundColor) {
    width: $width;
    height: $height;
    border: .5px solid $borderColor;
    border-radius: 5px;
    padding: 5px;
    color: $color;
    background-color: $backgroundColor;
    cursor: pointer;
}

@mixin centerSelf() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerSelfFlex() {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar {
    position: relative;
    width: 100%;
    height: $navbarHeight;

    #nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: calc($navbarHeight * 0.1) 10px;

        #logo {
            img {
                width: $logoWidth;
                height: $logoHeight;
                align-self: center;
            }
        }

        #links {
            ul {
                position: relative;
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: $navLinkDivWidth;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                li {
                    position: relative;

                    a {
                        position: relative;
                    }

                    a:link,
                    a:visited,
                    a:active,
                    a:hover {
                        color: $fontColor;
                        text-decoration: none;
                    }

                    a:hover {
                        transition: $transition;
                        font-weight: 400;
                    }
                }
            }
        }

        #profile {
            button {
                border: none;
                outline: none;
                background: none;
                width: $logoWidth;
                height: $logoHeight;
                border-radius: 100%;

                img {
                    width: calc($logoWidth * 0.70);
                    height: auto;
                    cursor: pointer;
                }
            }
        }
    }
}

#app {
    #appComponents {
        @include centerSelf();
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem;
        #introTextContainer {
            @include centerSelfFlex();
            #heading {
                width: 100%;

                h1 {
                    font-size: 50px;
                    white-space: normal;

                    &::before {
                        content: "Keep It Together,";
                    }

                    &::after {
                        content: "One Task at a Time.";
                        display: block;
                    }
                }
            }

            #intro {
                font-size: 18px;
            }

            #loginbuttoncontainer {
                position: relative;
                margin-top: 5%;

                div {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    width: $loginButtonContainerWidth;

                    button {
                        @include introButtons($introButtonWidth, $introButtonHeight, $fontColor, $borderColor, transparent);
                        transition: $transition;
                        font-size: 18px;
                    }

                    #login {
                        border-color: transparent;
                    }

                    #login:hover {
                        border-color: $borderColor;
                    }

                    #signup {
                        background-color: $otherBg;
                        color: $mainBg;
                    }
                }
            }
        }

        #userInfoComponents {
            @include centerSelfFlex();
            visibility: hidden;
            opacity: 0;
            transition: $transition;
            .user-info {
                position: relative;
                width: 30rem;

                .wlcm {
                    width: 100%;
                    text-align: center;

                    h2 {
                        font-size: 50px;
                        white-space: normal;
                    }

                    p {
                        font-size: 18px;
                    }
                }

                .infoentry {
                    .inputs {
                        .form__group {
                            position: relative;
                            padding: 15px 0 0;
                            margin: 10px 10% 0 10%;
                            width: 80%;
                        }

                        .form__field {
                            font-family: inherit;
                            width: 100%;
                            border: 0;
                            border-bottom: 2px solid $loginInputAccent;
                            outline: 0;
                            font-size: 1rem;
                            font-weight: 100;
                            color: $fontColor;
                            padding: 7px 0;
                            background: transparent;
                            transition: border-color 0.2s;

                            &::placeholder {
                                color: transparent;
                            }

                            &:placeholder-shown~.form__label {
                                font-size: 1.3rem;
                                cursor: text;
                                top: 20px;
                            }
                        }

                        .form__label {
                            position: absolute;
                            top: 0;
                            display: block;
                            transition: 0.2s;
                            font-size: 1rem;
                            color: $loginInputAccent;
                        }

                        .form__field:focus {
                            ~.form__label {
                                position: absolute;
                                top: 0;
                                display: block;
                                transition: 0.2s;
                                font-size: 1rem;
                                color: $loginInputPrimaryColor;
                                font-weight: 700;
                            }

                            padding-bottom: 6px;
                            font-weight: 300;
                            border-width: 3px;
                            border-image: linear-gradient(to right, $loginInputPrimaryColor, $loginInputSecondaryColor);
                            border-image-slice: 1;
                        }

                        .form__field {

                            &:required,
                            &:invalid {
                                box-shadow: none;
                            }
                        }
                    }

                    .submit-info-div {
                        .submit-info {
                            button {
                                @include introButtons(80%, $introButtonHeight, $mainBg, $borderColor, $otherBg);
                                margin: 10%;
                            }

                            button:hover {
                                background: transparent;
                                color: $otherBg;
                                transition: $transition;
                            }
                        }
                    }
                }
            }
        }

        #introIllustration {
            margin-top: 4%;
            width: 30rem;
        }
    }
}