:root {
  --body-background: #FAF7F0;
  --body-background-secondary: #F0BB78;
  --other-body-background: #131010;
  --body-font: #4A4947;
  --body-border: #131010;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background);
  color: var(--body-font);
}

.nunito-font {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#navbar {
  position: relative;
  width: 100%;
  height: 50px;
}
#navbar #nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
#navbar #nav #logo img {
  width: 50px;
  height: 45px;
  align-self: center;
}
#navbar #nav #links ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#navbar #nav #links ul li {
  position: relative;
}
#navbar #nav #links ul li a {
  position: relative;
}
#navbar #nav #links ul li a:link,
#navbar #nav #links ul li a:visited,
#navbar #nav #links ul li a:active,
#navbar #nav #links ul li a:hover {
  color: var(--body-font);
  text-decoration: none;
}
#navbar #nav #links ul li a:hover {
  transition: all 0.2s ease-in-out;
  font-weight: 400;
}
#navbar #nav #profile button {
  border: none;
  outline: none;
  background: none;
  width: 50px;
  height: 45px;
  border-radius: 100%;
}
#navbar #nav #profile button img {
  width: 35px;
  height: auto;
  cursor: pointer;
}

#app #appComponents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
}
#app #appComponents #introTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#app #appComponents #introTextContainer #heading {
  width: 100%;
}
#app #appComponents #introTextContainer #heading h1 {
  font-size: 50px;
  white-space: normal;
}
#app #appComponents #introTextContainer #heading h1::before {
  content: "Keep It Together,";
}
#app #appComponents #introTextContainer #heading h1::after {
  content: "One Task at a Time.";
  display: block;
}
#app #appComponents #introTextContainer #intro {
  font-size: 18px;
}
#app #appComponents #introTextContainer #loginbuttoncontainer {
  position: relative;
  margin-top: 5%;
}
#app #appComponents #introTextContainer #loginbuttoncontainer div {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 210px;
}
#app #appComponents #introTextContainer #loginbuttoncontainer div button {
  width: 100px;
  height: 40px;
  border: 0.5px solid var(--body-border);
  border-radius: 5px;
  padding: 5px;
  color: var(--body-font);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
}
#app #appComponents #introTextContainer #loginbuttoncontainer div #login {
  border-color: transparent;
}
#app #appComponents #introTextContainer #loginbuttoncontainer div #login:hover {
  border-color: var(--body-border);
}
#app #appComponents #introTextContainer #loginbuttoncontainer div #signup {
  background-color: var(--other-body-background);
  color: var(--body-background);
}
#app #appComponents #userInfoComponents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
#app #appComponents #userInfoComponents .user-info {
  position: relative;
  width: 30rem;
}
#app #appComponents #userInfoComponents .user-info .wlcm {
  width: 100%;
  text-align: center;
}
#app #appComponents #userInfoComponents .user-info .wlcm h2 {
  font-size: 50px;
  white-space: normal;
}
#app #appComponents #userInfoComponents .user-info .wlcm p {
  font-size: 18px;
}
#app #appComponents #userInfoComponents .user-info .infoentry .inputs .form__group {
  position: relative;
  padding: 15px 0 0;
  margin: 10px 10% 0 10%;
  width: 80%;
}
#app #appComponents #userInfoComponents .user-info .infoentry .inputs .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #4A4947;
  outline: 0;
  font-size: 1rem;
  font-weight: 100;
  color: var(--body-font);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
#app #appComponents #userInfoComponents .user-info .infoentry .inputs .form__field::-moz-placeholder {
  color: transparent;
}
#app #appComponents #userInfoComponents .user-info .infoentry .inputs .form__field::placeholder {
  color: transparent;
}
#app #appComponents #userInfoComponents .user-info .infoentry .inputs .form__field:-moz-placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
#app #appComponents #userInfoComponents .user-info .infoentry .inputs .form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
#app #appComponents #userInfoComponents .user-info .infoentry .inputs .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #4A4947;
}
#app #appComponents #userInfoComponents .user-info .infoentry .inputs .form__field:focus {
  padding-bottom: 6px;
  font-weight: 300;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, var(--body-font), var(--body-font));
     border-image: linear-gradient(to right, var(--body-font), var(--body-font));
  border-image-slice: 1;
}
#app #appComponents #userInfoComponents .user-info .infoentry .inputs .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--body-font);
  font-weight: 700;
}
#app #appComponents #userInfoComponents .user-info .infoentry .inputs .form__field:required, #app #appComponents #userInfoComponents .user-info .infoentry .inputs .form__field:invalid {
  box-shadow: none;
}
#app #appComponents #userInfoComponents .user-info .infoentry .submit-info-div .submit-info button {
  width: 80%;
  height: 40px;
  border: 0.5px solid var(--body-border);
  border-radius: 5px;
  padding: 5px;
  color: var(--body-background);
  background-color: var(--other-body-background);
  cursor: pointer;
  margin: 10%;
}
#app #appComponents #userInfoComponents .user-info .infoentry .submit-info-div .submit-info button:hover {
  background: transparent;
  color: var(--other-body-background);
  transition: all 0.2s ease-in-out;
}
#app #appComponents #introIllustration {
  margin-top: 4%;
  width: 30rem;
}/*# sourceMappingURL=App.css.map */